* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.genButton {
  --button-default-height: 55px;
  --button-default-width: 5px;
  --button-default-border-radius: 10px;
  --button-secondary-color: #95d44a;
  --button-secondary-color-dark: #52a934;
  --button-secondary-color-light: #3f8228;
  --button-secondary-color-hover: #89cf35;
  --button-secondary-color-active: #7cbe2d;
  --button-secondary-border: 4px solid #5bbd3a;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  font-family: 'Ubuntu';
  margin: 2% 45% 0;
}


* {
  outline: none;
  font-family: 'Ubuntu', Courier, monospace;
}

/* User Input Bar */
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #B6FFBB
}


.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.user-input-cover {
  padding: 2%;
  margin-top: 5%;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #B5CFFF, 0 0 0 20px #ffffffeb;
  animation: fade-up-userInput 1.5s;
  transform: scale(0.6);
}

form {
  position: relative;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 300%;
  font-family: "Ubuntu";
  line-height: 1;
}

input[type="text"]::placeholder {
  color: rgb(225, 215, 215);
  font-size: smaller;
  font-family: "Ubuntu";
}

/* Keyframes Animation Fade */
@keyframes fade-up-response {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up-userInput {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(0.6);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* Intro Title */
.intro-title {
  margin-top: 2.5%;
  font-family: 'Playwrite NG Modern', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 300%;
  color: #ff7575;
  animation: fade-down 1.5s;
}

/* Output/Response Box */
.response-cover {
  padding: 1% 2%;
  background-color: #B5CFFF;
  border-radius: 20px;
  box-shadow: 0 10px 40px #B5CFFF, 0 0 0 20px #ffffffeb;
  margin: 3% 20%;
  animation: fade-up-response 1.5s;
}

.response-cover p {
  font-family: "Ubuntu";
  padding: 1%;
  font-size: 110%;
}

/* Media compatibility */
@media screen and (max-width: 768px) {

  .genButton {
    margin: 7.5% 40% 0;
  }

  .response-cover {
    margin-top: 10%;
  }
}

@media screen and (max-width: 530px) {
  .intro-title {
    font-size: 175%;
  }
  .response-cover {
    margin: 15% 10% 0;
  }

}

@media screen and (max-width: 440px) {
  .genButton {
    margin: 10% 30% 0;
  }

  .response-cover {
    margin-top: 15%;
  }
}